<div id="normal_body">
	<h1>Contact Us</h1>
	<p>For questions, comments, concerns, or issues, please contact us at <a href="mailto:kevin@kanbanfordevelopers.com">kevin@kanbanfordevelopers.com</a></p>
	<br />
	<p>Please follow our blog at <a href="http://blog.taskmanager.com/">http://kanbanfordevelopers.com/blog</a></p>
</div>