<div id="normal_body">
	<h3>Resources for Agile Development and Kanbna boards</h3>
	<p><a href="http://agilemanifesto.org/">Manifesto for Agile Software Development</a></p>
	<p><a href="http://www.infoq.com/agile/">Infoq's Agile Development Site</a></p>
	<p><a href="http://en.wikipedia.org/wiki/Kanban_(development)">Wikipedia entry on Kanban</a></p>
</div>