<div id="wide_body" class="tourbody">
	<div>
		<p>
			The heart of Kanban for Developers is the Kanban board. Here, tasks can be created, edited, progressed to other stages, deleted, or completed.
		</p>
		<img src="images/tour1.jpg" alt="Kanban board in action" /> 
	</div>
	<div>
		<p>
			Task records have a minimal amount of fields for flexibility and speed of entry.
		</p>
		<img src="images/tour2.png" alt="Creating a task" />
	</div>
	<div>
		<p>
			The goal board allows goals to be created, edited, deleted, or completed and has a similar User Interfaced as the Kanban board for simplicity.
		</p>
		<img src="images/tour3.jpg" alt="Goal board in action" />
	</div>
	<div>
		<p>
			The Dashboard view displays the Tasks currently in progress as well as the Goals for the day.
		</p>
		<img src="images/tour4.jpg" alt="Dashboard to view important tasks and goals" />
	</div>
	<div>
		<p>
			Finally, Kanban for Developers offers numerous reports, like the Current Tasks report shown below:
		</p>
		<img src="images/tour5.png" alt="Current Tasks Report in action" />
	</div>
	<div style="width:100%;text-align:center;">
		<p>
			<div>Kanban for Developers has reports for:</div>
			<ul style="display:inline-block;text-align:left;">
				<li>Current Tasks</li>
				<li>All Tasks</li>
				<li>Historic Tasks</li>
				<li>Current Goals</li>
				<li>All Goals</li>
				<li>Daily or Weekly Status Reports</li>
				<li>Productivity Report</li>
			</ul>
		</p>
	</div>
</div>
