<!--[if IE]>
<style type="text/css" media="screen">
	#info_box fieldset {position: relative;}
	#info_box legend {position: absolute; top: -1em; left: .2em;}
</style>
<![endif]--> 
<!--<div id="info_box">-->
<div id="news">
	<form style="font: normal 100% Arial, sans-serif;font-size: 10px;">
		<fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #ccc;padding-top: 1.5em;margin: .5em 0;background-color: #fff;color: #000;text-align: left;">
			<legend style="white-space: normal;text-transform: capitalize;font-weight: bold;color: #000;background: #fff;padding: .5em 1em;border: 1px solid #ccc;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;"><span>Latest News</span></legend>
			<div id="news2">
				<h3><a href="http://blog.kanbanfordevelopers.com/2011/05/release-notes-for-april-30th/">Release Notes for April 30th</a></h3>
				<p>Normally, Kanban for Developers runs on a 2 week sprint. The first week is dedicated to implementing new features, while the 2nd week is devoted to wrapping these changes up, testing them, fixing any defects, and pushing the changes to production. With several busy weekends in the latter half of April, the last sprint was rolled out a week late on purpose...</p>
			</div>
		</fieldset>
	</form>
<div id="contact">
	<form style="font: normal 100% Arial, sans-serif;font-size: 10px;">
		<fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #ccc;padding-top: 1.5em;margin: .5em 0;background-color: #fff;color: #000;text-align: left;">
			<legend style="white-space: normal;text-transform: capitalize;font-weight: bold;color: #000;background: #fff;padding: .5em 1em;border: 1px solid #ccc;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;"><span>Contact Us</span></legend>
				<span><a href="http://blog.kanbanfordevelopers.com/feed/rss"><img src="/images/rss.png" style="border:none;" alt="Our Blog"/></a></span>
				<span><a class="info" href="http://twitter.com/kanbandeveloper/"><img src="/images/twitter.png" style="border:none;" alt="Twitter" /></a></span>
				<span><a class="info" href="http://www.facebook.com/pages/Kanban-For-Developers/141562219220810"><img src="/images/facebook_24.png" style="border:none;" alt="Our Facebook Page" /></a></span>
				<span><a class="info" href="mailto:kevin@kanbanfordevelopers.com"><img src="/images/mail.png" style="border:none;" alt="Email Us" /></a></span>
				<!--<div id="info_padding" style="">&nbsp;</div>-->
		</fieldset>
	</form>
</div>
<!--
<div class="info_box">
	<form style="font: normal 100% Arial, sans-serif;font-size: 10px;">
		<fieldset style="-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;border: 1px solid #ccc;padding-top: 1.5em;margin: .5em 0;background-color: #fff;color: #000;text-align: left;">
			<legend style="white-space: normal;text-transform: capitalize;font-weight: bold;color: #000;background: #fff;padding: .5em 1em;border: 1px solid #ccc;-moz-border-radius: 4px;border-radius: 4px;-webkit-border-radius: 4px;font-size: 1.2em;"><span>Follow us on:</span></legend>
			<div style="font-size: 24px;padding:5px 5px 0px 5px;">
				<div><a href="http://blog.kanbanfordevelopers.com/feed/rss"><img src="/images/rss.png" style="border:none;"/></a>&nbsp;<a href="http://blog.kanbanfordevelopers.com/">Our Blog</a></div>
				<div><a class="info" href="http://twitter.com/kanbandeveloper/"><img src="/images/twitter.png" style="border:none;" />&nbsp;Twitter</a></div>
				<div><a class="info" href="http://www.facebook.com/pages/Kanban-For-Developers/141562219220810"><img src="/images/facebook_24.png" style="border:none;" />&nbsp;Our Facebook Page</a></div>
				<div><a class="info" href="mailto:kevin@kanbanfordevelopers.com"><img src="/images/mail.png" style="border:none;" /></a>&nbsp;Or email us directly at<br /><a href="mailto:kevin@kanbanfordevelopers.com">kevin@kanbanfordevelopers.com</a></div>
				<div id="info_padding" style=""><br /></div>
			</div>
		</fieldset>
	</form>
</div>-->